@import 'normalize.scss';
@import 'essentials.scss';
@import 'components/vendor.scss';
@import 'components/typography.scss';
@import 'components/colors.scss';
@import 'components/footer.scss';
@import 'components/buttons.scss';
@import 'components/navigation.scss';


/*
	****************** Content ******************
*/

html, body {
    line-height: 1.5;
    background-color: #fafafa; 
}
html {
    //overflow-y: scroll;

}
p {
	//margin-bottom: 1rem !important;
	//line-height: 1.75;
}

a {
	text-decoration: none;
	color: $c-black;
}

//SEARCH IETS
.archive-title {
	font-size: 21px;
	text-align: center;
}
.search-field__prices {
	display: flex;
}
.mappie {
	#google-map {
		height: 430px;
	}
}
.search-sidebar {
	display: flex;
	flex-wrap: wrap;
}
.search-items {
	padding: 5px 40px .83em 12px;
    background: rgba(178, 182, 185, 0);
    border: 4px solid #000;
    font-size: 0.875em; 
    color: #FFF;
    letter-spacing: 0.2px;
    width: 230px;
    height: 40px; 
    appearance: none;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    select {
    	font-size: 0.875em;
		color: #000;
		letter-spacing: 0.2px;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		text-indent: 3px;
    }
    select {
    	-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		border: none;
		cursor: pointer;
		display: block;
		height: 100%;
		left: 0;
		line-height: 100%;
		margin: 0;
		outline: none;
		position: absolute;
		top: 0;
		width: 100%;
		color: #000;

    }
}
.search-items::after {
		    background: transparent url("../img/icons/arrow-down.svg") no-repeat center center;
		    content: '';
		    height: 100%;
		    padding-left: 2.5em;
		    pointer-events: none;
		    position: absolute;
		    right: 0;
		    top: 0;
		    -webkit-transition: all .1s ease-out;
		    transition: all .1s ease-out;
		    width: 0;
		}
.single {
	&__breadcrumbs {
		background-color: $c-grey;
		padding: 10px 0;
	}
	&__terug {
		color: $c-blue;
		font-size: $font-sm;
		font-weight: bold;
		margin: 25px 0 20px;
    	display: block;
	}
	&__title {
		font-size: 30px;
		font-weight: bold;
		&--postcode {
			div {
				display: inline-block;
				font-size: 15px;
				vertical-align:top;
				&:nth-of-type(2) {
					margin-left: 5px;
				}
			}
		}
	}
	&__prijs {
		font-size: 30px;
		font-weight: bold;
		text-align: right;
	}
	&__sidebar {
		background-color: $c-lightgrey;
		padding: 30px 30px 20px;
		&--phone {
			margin-top: 50px;
			margin-bottom: 10px;
		}
		&--email {
			margin-bottom: 15px;
			border-bottom: $c-grey 1px solid;
			padding-bottom: 20px;
		}
	}
	&__omschrijving {
		&--content {
			height: 180px;
			overflow: hidden;
		}
		&--toggle {
			cursor: pointer;
			color: $c-blue;
			font-size: $font-sm;
			font-weight: bold;
		}
	}
}

.kenmerken__closed {
	// display: none;
}

.socialicons {
	margin-top: 70px;
	img {
		margin-right: 10px;
	}
}

@mixin icon-url($url) {
	background-image: url($url);
	width: 20px;
	height: 20px;
	background-size: cover;
	display: inline-block;
	margin-right: 15px;
	position: relative;
    top: 5px;
}

.icon-phone {
	@include icon-url("../img/icons/phone.svg");
}

.icon-email {
	@include icon-url("../img/icons/email.svg");
}

.icon-print {
	@include icon-url("../img/icons/print.svg");
}

.filter-is-open {
	height: 100%;
	transition-timing-function: linear;
}

.socialicons {
	img {
		height: 40px;
		background-color: $c-grey;
		padding: 10px;
		transition: all 0.3s ease;
		&:hover {
			background-color: darken($c-grey,8%);
			transition: all 0.3s ease;
		}
	}
}

.kenmerkenlijst {
	display: flex;
	flex-direction: column;
	& > div {
		padding: 10px 15px;
	}
	& > div:nth-child(odd) {
		background-color: $c-lightgrey;
	}
}

.fp {
	&__intro {
		background-color: $c-blue;
		height: 300px; 
		width: 100%;
		display: table;
		h1, h2, p {
			text-align: center;
		}
		&--middle {
			height: 100%;
    		vertical-align: middle;
    		display: table-cell;
		}
	}
}
#map {
	height: 300px;
}

.vestigingen {
	&--1 {
		margin-bottom: 40px;
		.vestigingen__map,
		.vestigingen__gegevens {
			float: left;
		}
	}
	&--2 { 
		.vestigingen__map,
		.vestigingen__gegevens {
			float: right;
		}
	}
	&__gegevens {
		background-color: $c-blue;
		padding: 55px;
		height: 300px;
		h3 {
			font-size: 21px;
			margin-bottom: 15px;
		}
		ul {
			color: $c-white;
			list-style-type: none;
    		padding-left: 0;
    		margin-bottom: 15px;
		}
		&--afspraak {
			font-size: $font-sm;
			border-bottom: 1px solid grey;
    		padding-bottom: 2px;
		}
	}
} 

.wpcf7 {
	background-color: $c-white;
	max-width: 600px;
    margin: 0 auto !important;
    padding: 45px 0 !important;
	input,
	textarea {
		border: 2px solid $c-black;
	    border-radius: 2px;
	    font-size: 14px;
	    padding: 11px 15px;
	    color: $c-black;
	    font-weight: bold;
	    width: 100%;
	}
	textarea {
		border: 2px solid rgba(0, 0, 0, 0.2);
		color: rgba(0, 0, 0, 0.5);
		font-size: $font-sm;
	}
	.wpcf7-submit {
		background-color: #DBDBDB;
		border: 2px solid #DBDBDB;
		color: $c-white;
	}
	div { 
		text-align: center;
		max-width: 300px;
    	margin: 0 auto;
    	padding: 0 0 15px;
	}
	&--checkbox {
		text-align: right !important;
		input {
			width: auto !important;
			margin-right: 15px;
		}
	}
}

/* external css: flickity.css */

* { box-sizing: border-box; }


.carousel-container {
  display: flex;
  overflow-y: hidden;
}

.carousel {
  background: #FAFAFA;
  margin-bottom: 40px;
  flex-grow: 1;
  opacity: 0;
  transition: opacity 0.4s;
  height: 520px;
}

.carousel-cell {
  width: 100%;
  height: 520px;
  margin-right: 10px;
  //background: #8C8; 
  counter-increment: carousel-cell;
  background-size: cover;
  background-position: center center;
   -webkit-print-color-adjust: exact;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center; 
  line-height: 300px;
  font-size: 80px;
  color: white;
}

.carousel-nav {
  width: 200px;
  margin-left: 10px;
  max-height: 520px;
  overflow-y: scroll;
}

.carousel-nav .carousel-cell {
  height: 130px;
  width: 100%;
  margin: 0 0 5px 0;
  cursor: pointer;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

// .carousel-nav .carousel-cell.is-nav-selected {
//   background: #ED2;
// }

#google-map, #google-streetview {
    width: 100%;
    height: 300px;  	
}
