@mixin button-bg($bg) {
	background-color: $bg;
	border-radius: 2px;
	color: $c-white;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	padding: 10px 20px;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	transition: all 0.3s ease;
	&:hover {
	    background:darken($bg,8%);
	    transition: all 0.3s ease;
	}
}

.btn-blue {
   @include button-bg($c-blue);
}

.btn-grey {
   @include button-bg($c-grey);
}
// .button {
// 	background-color: $c-blue;
// 	border-radius: 2px;
// 	color: #fff;
// 	border: 0;
// 	padding: 10px 20px;
// }