header {
	.logo {
		padding-top: 27px;
		float: left;
		img {
			height: auto;
			width: 300px;
		}
	}
	background-color: #000;
	height: 80px;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
	font-size: 15px;
	line-height: 13px;
	a {
		color: #fff;
	}
}

.primary-menu {
	float: right;
	padding: 34px 0;
	.current_page_item {
		& > a {
			padding: 5px;
			position: relative;
			color: $c-blue;
			&:before {
				content : "";
				position: absolute;
				left    : 0;
				bottom  : 0;
				height  : 1px;
				width   : 75%;
				border-bottom: 2px solid $c-blue;;
			}
			&:after {
				content : "";
				position: absolute;
				left    : 0;
				bottom  : 0;
				height  : 35%;
				width   : 1px;
				border-left: 2px solid $c-blue;;
			}
		}
	}
	li {
		display: inline;
		list-style-type: none;
		margin-right: 10px;
		a {
			padding: 5px;
		}
	}
}