$font-primary : 'Lato', sans-serif;
$font-secondary : sans-serif;

$font-sm : 12px;

body, html {
	font-family: $font-primary; 
}


h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 48px; 
	
}

h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
	margin: 0;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
}

h5 {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

h6 {
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
}
